<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jimbo's Birthday Notebook</title>
    <link rel="stylesheet" href="../static/bday.css" />
  </head>
  <body>
    <canvas id="particles"></canvas>
    <div class="background"></div>
    <div class="overlay"></div>

    <div class="container">
      <div class="notebook" id="notebook">
        <div class="page left-page" id="notebookCover">
          <div class="cover-text">💜 Click to Open Jimbo's Notebook 💜</div>
        </div>
        <div class="page right-page">
          <h1>Happy Birthday, Jim 🎂</h1>
          <p>
            Just wanted to say: you are welcome. Welcome to 15. It's your
            friend, Shan. <br />
            শুধু বলতে চেয়েছিলাম:শুভ জন্ম দিন। ১৫-তে স্বাগতম। তোমার বন্ধু, শান
            ।<br />
          </p>
        </div>
      </div>
    </div>

    <script src="../static/scipts/scripts.js"></script>
  </body>
</html>
